*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar{
    width: 100%;
    padding: 15px 40px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    
}
.logo a{
    text-decoration: none;
    color: black;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover{
    color: #007bff;
}

/* Buttons */

.icons{
  display:flex;
  justify-content: center;
  gap:20px;
 
}
.icons .btn{
    margin-left: 10px;
    padding: 8px 15px;
    border: 1px solid #333;
    background: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    flex-direction: row;
   
}

.btn:hover{
    background: #333;
    color: #fff;
}
/* Hero Section */
.hero{
    width: 100%;
    height: 80vh;
    background: url("images/main.png.jpg") no-repeat center/cover; /* Replace bg.jpg with your image */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    padding-top: 80px;
    color: white;
    position: relative;
}

.hero-content{
    position: relative;
    max-width: 100%;
    color:white;
    margin-left:50px;
}

.hero h1{
    font-size: 45px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 16px;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
    nav{
        display: none;
    }

    .hero{
        padding-left: 20px;
        height: 350px;
    }

    .hero h1{
        font-size: 30px;
    }
}
/* footer-section */
.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

/* Products Section */
.products-section {
    text-align: center;
    padding: 50px 20px;
}

.products-section h2 {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
}

/* Filter Buttons */
.product-filters {
    margin-top: 25px;
}

.filter-btn {
    padding: 8px 18px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background: #222;
    color: #fff;
    border-color: #222;
}

/*  section responsive */
@media (max-width: 600px) {
    .products-section h2 {
        font-size: 26px;
    }

    .filter-btn {
        font-size: 14px;
        padding: 6px 15px;
    }
}

/* Product Card */
.product-container {
    width: 75%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Individual Card */
.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: #fff;
}

.product-card img {
    width: 100%;
    height: 240px;
    object-fit: contain;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 600;
}

.product-card p {
    color: #666;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
}

/* Card Buttons */
.card-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.card-btns button {
    padding: 7px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #222;
    color: #fff;
    transition: 0.3s;
}

.card-btns button:hover {
    background: #555;
}



